.home {
    margin-top: 100px;
}

h1 {
    font-size: 120px !important;
    color: #F99417;
}


p {
    font-size: 25px !important;
    margin-top: 25px !important;
    color: #333333;
}

.avatar {
    /* margin-top: 0px !important; */
    margin-left: 80px !important;
    border-radius: 40px;
    border: 2px #F99417 solid;
    padding: 30px;
}